.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.vdf-logo{
	height: 65px;
	width: 65px;
	margin-left: -22px;
	display: block;
	margin-top:15px;
	float: left;
}

.vdf-logo img{
	
}
.vdf-brand-text{
	display: block;
    color: #E60000;
    font-size: 25px;
    float:left;
    margin-top: 27px;
    margin-left: 10px;
    font-weight: bold;}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.vdf-menu-container{
	background-color: #E60000;
}
.vdf-header-container{
	height: 100px;

}
.vdf-footer-container{


}


select{
 border-radius: 3px !important;
 border: 1px solid #ddd !important;
}

select:focus{
 border-color: #9c2aa0 !important;
 border-color: rgba(156, 42, 160, 0.8) !important;
 *border-color: #9c2aa0 !important;
    box-shadow: 0 1px 1px rgba(156, 42, 160, 0.075) inset, 0 0 4px rgba(156, 42, 160, 0.6) !important;
    outline: 0 none;
}

input, select, textarea{
 border-radius: 3px !important;
 border: 1px solid #ddd !important;
}

 input:focus, textarea:focus, select:focus{
/*  border: 10px solid #9c2aa0 !important; */
 border-color: #9c2aa0 !important;
 border-color: rgba(156, 42, 160, 0.8) !important;
 *border-color: #9c2aa0 !important;
    box-shadow: 0 1px 1px rgba(156, 42, 160, 0.075) inset, 0 0 4px rgba(156, 42, 160, 0.6) !important;
    outline: 0 none !important;
}

#vdf-home {
	margin-left: -20px;
    width: 60px;
    height: 50px;
    background: url(../vdf-home.png);
    background-position-x: 4px;
    background-position-y: -2px;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-size: 48px 51px;
    background-color: transparent
}
li#vdf-home:hover {
	background-color: #CD0000;

}
#vdf-home a {
	width: 40px;
	height: 40px;
}




@media screen and (max-width: 497px) {
    .vdf-brand-text{
    	font-size:19px;
    	margin-top: 32px; 	

    }
    }



@media screen and (max-width: 768px) {
     #vdf-home{
     	margin-left:0px;
     	height:40px;
     	width: 100%

     }

     #vdf-home a{
     	
     	width: 100%;
     }
    }



