@model IEnumerable<VDMS.Models.DocumentType>

@{
    ViewBag.Title = "Document Types";
}

<h2>Document Types</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<body>
    @{
        var grid = new WebGrid(Model, canPage: true, rowsPerPage: 20, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
        grid.Pager(WebGridPagerModes.NextPrevious);

        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("Name", "Name"));
        gridColumns.Add(grid.Column("Serial", "Serial"));
        gridColumns.Add(grid.Column("Disabled", "Disabled"));
        gridColumns.Add(grid.Column(format: (item) => Html.ActionLink("Details", "Details", new
        {
            id = item.DocTypeID
        })));
        if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || (User.IsInRole("MBB Developer"))))
        {
            //gridColumns.Add(grid.Column(format: (item) => Html.ActionLink("Delete", "Delete", new { id = item.DocTypeID })));
            gridColumns.Add(grid.Column(format: (item) => Html.ActionLink("Edit", "Edit", new { id = item.DocTypeID })));
        }
    }

    <div id="gridContent">
        @grid.GetHtml(tableStyle: "vdf-doc table-responsive",
                headerStyle: "header",
                //alternatingRowStyle: "alt",
                selectedRowStyle: "select",
                columns: grid.Columns(gridColumns.ToArray()))
    </div>
</body>
