<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
    <add name="VDMSConnectionString" connectionString="data source=.\sqlprod;initial catalog=VDMS-local;user id=sa;password=Vodafone2015;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>
