<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
    <add name="VDMSConnectionString" connectionString="data source=E0291653\SQLProd;initial catalog=VDMS-dev;user id=sa;password=was5eyuh5hf@;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>
