<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>cSK1QvSMJ2TFGobEFCGdXZ81p09aSkMr4YS0x8ovAJiviLrUw8e7edmCKIof+HvBh9qjnvUpevYWDtLOcMANQdAbiZpLPPODQ/0YtDrJsFZX0rJ5Qfh921slv/OsDUgp1WBBEOsc612AcY37noSieJptKoMBh3l7IXUJZG9Y4FEFsI5BxAQdlONZXgKH1y6IILahhBHtCpYdOgrXkMRpZejvCcnUV7TsfM+a+Ekkv085vBpyo1QljNlZ3+HHxCKIzJz2XU+68SN9GjRzrQErFyaL/6t8pDTJdazND5pDkVyqr2Q//kf5qqpSnxr4BFb4o9YfolTUANqBmLu+1Vnf7w==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>241N/TmEHu1fg8+rROA+7MMC2AWVWtDXB+7yRlrrdxuCNz+iQh/RUuaEG6lkzclX2KMAYOAGLqdIXGn6JKsjhBTovZS/YuZsll6BBuq8O710z5hMPfhVd3+qZ8NNwHbun4k3vBMe+Q6zURKY9p2Zq1OAmgTjRyovTVXz8xSdgaIaFwqiDFY41G2j1TeynSgW/UuarBochaA56zKCIzYXmEx1mjiQQeuekHFTERwP/7D4vQmNvtu7GyTQ+aFKjKiTwymdOmFArfzFNDXi3J+r73N5mWe2L9lgM0fzywvGJEE+SSRPE1ZMauKPSlyRtzckOBTzW5/JTrJAqeF5/lJp95qeSeconWskCDs0FuBOV2Y486hdUxh74iRAtDm1qM76</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>dvjqlTpkq4/IBU72PmPAVHY7cuyajzaGTftzkeiG7dpWcvThw9vHKQ+uITLp0HXSb1i1VqqXAgW6XT9YnJpLKsSqeT/l1eLPGmk6z+13QQJzPuAKM5aqgLWTpdf+PrwQGpwsjkaLbGm6MairCVwTAMsS3rnMx8GH45dFjZShPWS8HJLMKd1EGWb6TXIEfp1F810Z0fTmYlrxDpvk3GCD2Mpex+1pFvC1kfAP3LIZ1+H5Nsj8ogESm8BZG0Fz0I6+JSKOKWbp5BXBPa63v6Kfj/kKiivnlQza9QwSLBkNeFRKzN4BbNM7sTP7hc9pSEkR3JVgIJl0saqAI/MC+F5y6Q==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>lRdeSTMdqIvp9HU4lK86BT0b2rX+qnoSyTm6GEcLKjk269ZCflh21cajHAG15LmWxfA0vFtbQC6GjWsCxv4JVldubLQuPpOVKIUX4W1lxfjh3xKgmDVP9qjkkKSfWiKYJ74If5V6gdgX/V9dzIb70677wykGETyhRQxdvgjF+PfCZY+mKYxt7waq/Uin2+l1jqJVjzhsXgihBICIkcFN1iz9cB1GLgi90Az8xipJB51VwsXXI/W9zYHNfObCWGmg7UuR6JHydTxiSUhIn76qFmGbQ9FFEqAL0hUcoEqVvGjglCNhaMU1wFKI2cpokN6P/awdERpjI+bQxsulQVIoldaQBk5eWr1DyFgn42bQbOcclp2hgLUh8/eK4FdP61gl0cMZfD/BXvZHVRah1Jo/tF3HzJoG4yq2PZJjaOsvIXmghcxZNPVl1lntk226yV4zcr92v9LAvYPLFNqYJLp/aYMcvykUlJmli7GURXRns6/b91rRjkRdrPQEw7iR1YnMqqat+c+7G598HGqh5vxFmfRnTzd9A6QKhF3uyw3bhybXEpK+9HaQq/qVHkBe+eyFx93J1D95Les/fp7p98MGzGl3s5Dg7tbQADKbsk7yn4+eryN71RRpyOSJusoOPZSF/ATi4DVvGI8Sso/odtRMWSD6eGMsAOxPoE6jSLwUhUOV7T3XgSwAIit8jHU6mdbSZ1L+hD9rsxxEsIdfh2YbHjZpnW71oezy7aS3w8XN6P1OtwtpEy/rkA/ZfPXdngJMgCGWlPbHmeM5dsFq/eV6cOJJWePnKYxTV7eDXQ2++dM=</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  <system.web>
    <roleManager enabled="true" />
    <authentication mode="None" />
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <customErrors mode="On" defaultRedirect="~/Error">
      <error redirect="~/Error/Denied" statusCode="401" />
    </customErrors>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="RoleManager" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>