@{
    ViewBag.Title = "Home Page";
}
<h2> Welcome!</h2>
<br />
<p>
    This is Vodafone Inbound Outbound Documents. It is used for tracking documents that are leaving or coming into Vodafone. 
</p>
<p>
    To start click @Html.ActionLink("here", "Reports", "Documents").
</p>