@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

    @{
    ViewBag.Title = "Roles";
    }

    <h2>Roles</h2>

<p>
    @if (User.Identity.IsAuthenticated && User.IsInRole("MBB Developer"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>

    <body>
        @{
        var grid = new WebGrid(Model, canPage: true, rowsPerPage: 20, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
        grid.Pager(WebGridPagerModes.NextPrevious);

        var gridColumns = new List<WebGridColumn>
            ();
            gridColumns.Add(grid.Column("Name", "Name"));
            if (User.Identity.IsAuthenticated && User.IsInRole("MBB Developer"))
            {
            gridColumns.Add(grid.Column(format: (item) => Html.ActionLink("Delete", "Delete", new { id = item.Id })));
            gridColumns.Add(grid.Column(format: (item) => Html.ActionLink("Edit", "Edit", new { id = item.Id })));
            }
            }

            <div id="gridContent">
                @grid.GetHtml(tableStyle: "vdf-doc table-responsive",
                headerStyle: "header",
                //alternatingRowStyle: "alt",
                selectedRowStyle: "select",
                columns: grid.Columns(gridColumns.ToArray()))
            </div>
    </body>
