@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Roles";
}

<h2>Roles</h2>

<body>
    @{
        var grid = new WebGrid(Model, canPage: true, rowsPerPage: 20, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
        grid.Pager(WebGridPagerModes.NextPrevious);

        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("Name", "Name"));
    }

    <div id="gridContent">
        @grid.GetHtml(tableStyle: "vdf-doc table-responsive",
                headerStyle: "header",
                //alternatingRowStyle: "alt",
                selectedRowStyle: "select",
                columns: grid.Columns(gridColumns.ToArray()))
    </div>
</body>
