@model IEnumerable<VDMS.Models.DocumentLog>

    @{
    ViewBag.Title = "Document Logs";
    VDMS.Models.DocumentLog documentlog = new VDMS.Models.DocumentLog();
    var grid = new WebGrid(Model, canPage: true, rowsPerPage: 20, ajaxUpdateContainerId: "gridContent");
    grid.Pager(WebGridPagerModes.NextPrevious);
    var gridColumns = new List<WebGridColumn>
        ();
        gridColumns.Add(grid.Column("UserName", "Username"));
        gridColumns.Add(grid.Column("DocID", "ID Doc"));
        gridColumns.Add(grid.Column("OperationType","OperationType"));
        gridColumns.Add(grid.Column("LogDate","LogDate"));
        }

        <h2>Document Logs</h2>

        <div id="gridContent">
            @grid.GetHtml(tableStyle: "vdf-doc table-responsive",
            headerStyle: "header",
            selectedRowStyle: "select",
            columns: grid.Columns(gridColumns.ToArray()))

        </div>



